---
import Section from "../Section.astro";
import {user} from "../../../json/cv-en.json";
import Map from "../../icons/Map.astro";
import Icon from "../../../components/Icon.astro";
import SocialIcons from "../../SocialIcons.astro";

const {presentation,labels,image,summary,location,about} = user;
const {firstName,lastName,secondSurname,nickname} = presentation;
const {municipality,street,country, countyCode} = location;
---

<Section>
    <div class="hero">
        <div class="info-hero">
            <h1>{nickname} {lastName} {secondSurname}</h1>
            <p>{summary}</p>
            <address>
                <Map title="My Position"/>
                {municipality}, {country}, {countyCode}
            </address>
            <SocialIcons />
        </div>
        <img 
            class="img-hero" 
            src={image} 
            alt={`${nickname} Image`} 
        />
    </div>
</Section>

<style>
    .hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }
    h1{
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
    address{
        margin-top: 0.5rem;
        font-style: normal;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    .img-hero{
        width: 110px;
        border-radius: 1rem;
    }
</style>