---
import { basics } from "../pages/minimalist/cv.json";
const { name, label, image, location, profiles, phone, email } = basics;
const {city, region } = location;
---

<section>
    <div class="content">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <!-- steal icon -->
                 {city}, {region}
            </span>
            <footer>
                {
                    email && 
                        <a 
                            href={`mailto:${email}`}
                            title={`Send an email to ${name} at the email ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >// steal icon</a>
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name}>
        </figure>
    </div>
</section>