---
import Section from "../Section.astro";
import {projects} from "../../../json/cv-en.json";
const menu = projects;
---

<Section title="Side Projects">
    <div class="menu-links">
        {
            menu.map((item) => 
                <div class="link">
                    <div class="header">
                        <strong>
                            <a href="">{item.name}</a>
                        </strong>
                        <box-icon name='radio-circle-marked' color={item.isActive}></box-icon>
                    </div>
                    <div class="body"><p>{item.description}</p></div>
                    <div class="footer">
                        {
                            item.highlights.map((i) => 
                                <a href="">{i}</a>
                            )
                        }
                    </div>
                </div>
            )
        }
</Section>

<style>
    .menu-links{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem,19rem));
        justify-content: center;
        grid-gap: 1rem;
    }
    .link{
        display: block;
        border: 1px solid #e1e1e1;
        border-radius: 0.5rem;
        padding: 0.5rem 0.7rem;
    }
    .header{
        display: flex;
        justify-content: start;
        align-items: center;
        strong{
            text-transform: capitalize;
            font-weight: 500;
            a{
                color: #333;
                font-size: 1rem;
            }
            a:hover{
                color: #999;
            }
        }
    }
    .body{
        p{
            font-size: 0.8rem;
            margin: 1rem 0;
        }
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
        a{
            font-size: 0.7rem;
            background: #F1F1F1;
            color: #333;
            padding: 0.2rem 0.7rem;
            border: 1px solid #e5e5e5;
            border-radius: 0.2rem;
            transition: .3s;
        }
        a:hover{
            background: #e9e9e9;
        }
    }
</style>